@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
    <h3 style="text-decoration: underline;">
        Welcome to MovieCore !
        </h3>
        <p>
            Your ultimate destination for discovering and enjoying movies! 
            Whether you're a film aficionado or just looking for something to watch, we provide an easy-to-use platform for exploring a vast collection of movies from various genres, eras, and countries.
        </p>
   
    </div>
